<div class="nainContainer">
  <div id="invoice">
    <!-- <samp class="fa fa-archive box"></samp> -->
    <samp>FNF</samp>
    <br>
    <div class="container">
      <section>
        <samp>12721 Daylight TRL</samp>
        <br>
        <samp>Jackspnville,FL 32218</samp>
      </section>


    </div>
    <h1>Customer bill as of June 6 1023</h1>
    <section class="header">

      <table border = "1"  width = "100%">
        <tr>
          <th>Item</th>
          <th>Description</th>
          <th>Price</th>
          <th>Amount</th>

        </tr>
        <tr>
          <td>Harry Depp</td>
          <td>28</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>John Smith</td>
          <td>35</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <td>Ram Krishna</td>
          <td>19</td>
          <td></td>
          <td></td>

        </tr>
      </table>
      <br>
      <samp class="Total"><h3><b>Total $500.00</b></h3></samp>
        </section>
  </div>
  <br>
  <div class="bnt">

      <!-- <button mat-raised-button color="primary" ngxPrint printSectionId="invoice">Print
        Invoice</button> -->

  </div>
  <br>
<div>
  <button mat-raised-button color="primary" ngxPrint printSectionId="invoice">
    Sumit payment</button>
    <button mat-raised-button color="primary" mat-dialog-close>close</button>
</div>


  <div>
    <section>

    </section>
    <!-- <section >
    <button mat-raised-button color="primary">Print</button>
    </section> -->
  </div>

</div>

