.container{
  display: flex;

}
.container section:nth-child(2){
  margin-left: 60%;
}
.box{
  font-size:60px;
  margin-left: 1px;
  margin-bottom: 10px;

}
.container section:nth-child(3){
border: 1px solid red;
}
section
.bnt{
 display: flex;
 justify-content: center;
 margin-top: 30px;
 margin-bottom: 20px;
}h1{
  margin-left: 40%;
  font-size: xx-large;
}
.header{
  border: 1px solid;
  margin-left: 6px;
  margin-right: 6px;
  width: 80%;
}
button:nth-child(1){
 margin-left: 40%;
 margin-right: 4px;

}
.nainContainer{
  border: 1px blue solid;
  padding: 50px;
}
.Total{

  text-align: center;
}

