<app-header></app-header>
<div class="container">
  <img src="../../assets/image/rack.png" alt="" width="600" height="600">

  <div class="itemDiv">
    <span>Add Warehouse Rack to custom</span>
    <br><br>
    <span> Warehouse Rack can hold 72 boxs</span>
    <img class="box" src="../../assets/image/boxs.png" alt="" srcset="" width="200" height="190">
    <div>
      <div>
        Custom
        <br>
          <mat-form-field>
            <mat-label>Choose an option</mat-label>
            <mat-select >
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div>
        Numer of rack:
        <br>
          <mat-form-field>
            <mat-label>Choose an option</mat-label>
            <mat-select >
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div>
        Warehouse
        <br>
          <mat-form-field>
            <mat-label>Choose an option</mat-label>
            <mat-select >
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
    <div>
      <span>Custom Total of Rack:</span>
      <br>
      <button class="btn" mat-raised-button  color="primary">Save</button>
      <br>
      <br>
    </div>
  </div>
</div>
