
.container{

}

menu{
  display: flex;
  justify-content:start;
  background: #000fff;
  width:100%;
  height: 30px;
  color: beige;
  padding-top: 2cqh;
  padding-bottom: 10px;
  padding-right: 4px;
  margin-right: 8px;

  ;

}
menu a{
  margin-right: 10px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;

}

menu a:hover{

  /* font-size: large; */
  border: 1px solid #fff;
 padding-left: 10px;


 padding-top: 3px;
 margin-right: 4px;
  background-color: rgb(37, 37, 110);
  /* text-decoration:underline */
}
menu a:last-child{
  margin-right: 46px;
  width: 60px;
  padding-left: 40px;
}

.space
{
  display: flex;
  flex: 1 1 0;
}
.logout
{
  padding-right: 50px;
}
.box{
  font-size:xx-large
}

