<!-- <img src="../../assets/software.png" alt=""> -->
<div id="overlay"></div>
<!-- <img src="../../assets/software.png" alt=""> -->
<!-- <div class="software">
    <img src="../../assets/software.png" alt="">
</div> -->
<div class="image">
    <div>
      <span>
        <span>Store your Document Files<br><br><br>has never been simple as 123 <br><br><br>until now</span>
        <br>
        <h1>By mike software company INC.</h1>
        <button   class="btn" mat-raised-button (click)="signUp()" color="primary">Register </button>

        <button class="btn" mat-raised-button  (click)="LogIn()" color="primary" >Log In</button>
      </span>

    <!-- <button mat-raised-button color="primary" (click)="signUp()">Sign In</button> -->


    </div>
    <!-- <div id="software">
        <img src="../../assets/software.png" alt="">
    </div> -->

</div>

